<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <app-counter-view></app-counter-view>
        </div>
        <div class="col-xs-6">
             <app-counter-form></app-counter-form>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <app-counter-activity></app-counter-activity>
        </div>
        <div class="col-xs-6">
             <app-counter-log></app-counter-log>
        </div>
    </div>
</div>
<!-- 
 <app-counter-form></app-counter-form>
 <app-counter-log></app-counter-log>
 <app-counter-activity></app-counter-activity> -->
